/* Mensajes */

.background-hcm {
  background-color: rgba(86, 219, 121, 0.8);
}


.background-peoplesoft {
  background-color: rgba(86, 219, 121, 0.8);
}



.bi-check2-circle {
  color: rgba(48, 165, 78, 0.8);
 
}
.data-error {
  color: red;
  border: 1px solid red;
  padding: 5px;
  display: inline-block;
}


/* Botones */
#buscar {
  background-color: green;
  margin-right: 10px;
}


#limpiar {
  margin-left: 10px;
}

#detalle {
  background-color: green;
}

#regresar_formulario {
  text-align: right;
  background-color: green;
}

/*Nuevas opciones department/*

/* Ajustar el ancho del select2 */
.select2-container {
  width: 50% !important; /* Ajusta esto al ancho que prefieras */
}

/* Alinear el contenedor de select2 a la derecha */
.select2-container {
  margin-left: auto;
}

/* Para mantener la alineación del texto a la izquierda dentro del select */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: left;
}

/* Ajustar la alineación del texto de la opción seleccionada */
.select2-selection__rendered {
  text-align: left !important;
}
