/* Mensajes */

.background-hcm {
  background-color: rgba(86, 219, 121, 0.8);
}


.background-peoplesoft {
  background-color: rgba(86, 219, 121, 0.8);
}



.bi-check2-circle {
  color: rgba(48, 165, 78, 0.8);
 
}
.data-error {
  color: red;
  border: 1px solid red;
  padding: 5px;
  display: inline-block;
}


/* Botones */
#buscar {
  background-color: green;
  margin-right: 10px;
}


#limpiar {
  margin-left: 10px;
}

#detalle {
  background-color: green;
}

#regresar_formulario {
  text-align: right;
  background-color: green;
}

