{% extends 'templates_generales/template_main.html' %}
{% load static %}
{% block content %}

<div class="feature-card">
  <div class="card">
      <img src="{% static '/images/inte.PNG' %}" class="card-img-top custom-img" alt="...">
      <div class="card-body">
          <h5 class="card-title">Producto Destacado</h5>
          <p class="card-text">Descubre nuestro increíble producto.</p>
          <a href="#" class="btn btn-primary">Más Detalles</a>
      </div>
  </div>
</div>
{% endblock %}
