{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntegraSoft</title>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="container-fluid min-vh-100 d-flex align-items-center px-0">
        <div class="login-card-container">
            <!-- Área de la imagen -->
            <div class="login-image-side col-md-9">
                <!-- La imagen del lado izquierdo se mostrará en todas las pantallas -->
            </div>
            <!-- Área del formulario -->
            <div class="form-side col-md-3">
                <div class="w-100">
                    <!-- Contenido del formulario -->
                    <img src="{% static 'images/integrasoft_png.PNG' %}" alt="Logo" class="img-fluid mb-4">
                    <div class="saludo">
                        <h2 id="saludo">¡Hola, <span id="parte-del-dia"></span>!</h2>
                    </div>

                    <script>
                        window.onload = function() {
                            var parteDelDia = document.getElementById("parte-del-dia");
                            var hora = new Date().getHours();
                        
                            if (hora < 12) {
                                parteDelDia.innerHTML = "buenos días";
                            } else if (hora < 18) {
                                parteDelDia.innerHTML = "buenas tardes";
                            } else {
                                parteDelDia.innerHTML = "buenas noches";
                            }
                        };
                        </script>
                        
                            
                    <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuario:</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                       
                        <button type="submit" class="btn btn-primary">Conectar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
