{% extends 'mantenedor_works/index_usuarios.html' %}
{% load static %}

{% block grilla_usuarios %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/botones.css' %}">
{% endblock css %}

<div class="container">
  {% if usuarios %}
    <h2>Resultados de Búsqueda:</h2>
    <div class="table-responsive">
      <table class="table" id="tabla-resultados">
        <caption>Resultados de búsqueda</caption>
        <thead>
          <tr>
            <th>Número de Persona</th>
            <th>Nombre Completo</th>
            <th>Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
              <td>{{ usuario.personNumber }}</td>
              <td>{{ usuario.nombre_completo }}</td>
              <td>{{ usuario.department_name }}</td>
              <td>
                  {% if base_datos and usuario.personNumber %}
                      <a href="{% url 'workers:detalles_usuario' base_datos=base_datos user_id=usuario.personNumber %}" class="btn btn-detalle">Ver Detalle</a>
                  {% else %}
                      <span>No disponible</span>
                  {% endif %}
              </td>
          </tr>

          {% empty %}
          <tr>
              <td colspan="4">No se encontraron resultados.</td>
          </tr>
          {% endfor %}
        </tbody>
 
      </table>
      {% if has_more %}
      <div class="text-center">
        <button id="cargar-mas" data-next-url="{{ next_url }}">Cargar Más</button>

        </div>
    {% endif %}
    </div>  

  {% else %}
    <p>No se encontraron resultados.</p>
  {% endif %}
</div>

{% block js %}
<script type="text/javascript">
  // Definir las variables nextUrl y nextOffset con los valores de Django
  var nextUrl = "{{ next_url|default:'' }}";  // Utiliza el valor predeterminado si next_url no está definido
  var nextOffset = "{{ offset|default:'' }}";  // Utiliza el valor predeterminado si offset no está definido
  var baseDatos = "{{ base_datos }}";
  console.log(baseDatos);
</script>
<script type="text/javascript" src="{% static 'js/more_results.js' %}"></script>

{% endblock js %}

{% endblock grilla_usuarios %}
