{% extends 'mantenedor_works/index_usuarios.html' %}
{% load static %}

{% block grilla_usuarios %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/botones.css' %}">
{% endblock css %}

<div class="container">
  {% if usuarios %}
    <h2>Resultados de Búsqueda:</h2>
    <div class="table-responsive">
      <table class="table">
        <caption>Resultados de búsqueda</caption>
        <thead>
          <tr>
            <th>Número de Persona</th>
            <th>Nombre Completo</th>
            <th>Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
              <td>{{ usuario.personNumber }}</td>
              <td>{{ usuario.nombre_completo }}</td>
              <td>{{ usuario.department_name }}</td>
              <td>
                  {% if base_datos and usuario.personNumber %}
                      <a href="{% url 'workers:detalles_usuario' base_datos=base_datos user_id=usuario.personNumber %}" class="btn btn-primary">Ver Detalle</a>
                  {% else %}
                      <span>No disponible</span>
                  {% endif %}
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="4">No se encontraron resultados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No se encontraron resultados.</p>
  {% endif %}
</div>

{% endblock grilla_usuarios %}
