{% extends 'templates_generales/template_main.html' %}
{% load static %}


{% block content %}

<div class="container">
  <style>
    .align-right {
      text-align: right;
    }
  </style>
  {% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/botones.css' %}">{% endblock css %} 
  {% block script_cargar %} <script src="{% static 'js/listener.js' %}"></script>{% endblock script_cargar %}
  {% block script_regreso %} <script src="{% static 'js/regreso.js'%}"></script>{% endblock script_regreso %}
  <div class="align-right">
    <a id="regresar_formulario" href="{% url 'workers:buscar_usuarios_mantenedor_works' %}" class="btn btn-primary">Regresar a la búsqueda</a>
  </div>

  <h1 class="text-center mt-4">Detalles del Usuario</h1>
  <div class="mt-4">
    {% if base_datos == 'HCM' and detalles_hcm %}
      <div class="nombre-completo-contenedor">
        <h2 class="nombre-completo-panel"><strong>Usuario:</strong>{{ detalles_hcm.display_name }}</h2>
        <p class="numero-persona"><strong>Número de Persona:</strong> {{ detalles_hcm.person_number }}</p>
      </div>
    {% elif base_datos == 'PeopleSoft' and detalles_peoplesoft %}
      <div class="nombre-completo-contenedor">
        <h2 class="nombre-completo-panel"><strong> Usuario: </strong>{{ detalles_peoplesoft.name }}</h2>
        <p class="numero-persona"><strong>ID Empleado:</strong> {{ detalles_peoplesoft.emplid }}</p>
      </div>
    {% else %}
      <p>No se encontraron datos para este usuario.</p>
    {% endif %}
    <div class="row">
      {% block content_comparador %} {% endblock content_comparador %}
    </div>
  </div>
  
</div>

{% endblock content %}
