{% extends 'templates_generales/template_main.html' %}
{% load static %}

{% block content %}

<div class="container">
  <style>
    .align-right {
      text-align: right;
    }
  </style>
  {% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/botones.css' %}">{% endblock css %} 
  {% block script_cargar %} <script src="{% static 'js/listener.js' %}"></script>{% endblock script_cargar %}
  {% block script_regreso %} <script src="{% static 'js/regreso.js'%}"></script>{% endblock script_regreso %}
  <div class="align-right">
    <!-- Botón para regresar a la página de búsqueda -->
    <a id="regresar_formulario" href="{% url 'workers:buscar_usuarios_mantenedor_works' %}" class="btn btn-primary">Regresar a la búsqueda</a>
  </div>

  <h1 class="text-center mt-4">Detalles del Usuario</h1>
  <div class="mt-4">
      {% if usuario %}
    <h2>{{ usuario.names.0.FirstName }} {{ usuario.names.0.LastName }}</h2>
    <p><strong>Número de Persona:</strong> {{ usuario.PersonNumber }}</p>
    <p><strong>Ciudad:</strong> {{ usuario.addresses.0.TownOrCity }}</p>
    {% else %}
    <p>No se encontraron datos para este usuario.</p>
  {% endif %}

    <!-- Aquí puedes agregar más lógica para detectar diferencias entre los sistemas -->
  {%block error %}     

  {% endblock error %}
  

    <div class="row">
      <!-- Sección para los datos de HCM -->
      <div class="col-md-6 {% if formulario_data.base_datos == 'HCM' %}background-hcm{% endif %}">
        {% block hcm_block %} {% endblock hcm_block %}
      </div>

      <!-- Sección para los datos de PeopleSoft -->
      <div class="col-md-6 {% if formulario_data.base_datos == 'PeopleSoft' %}background-peoplesoft{% endif %}">
        {% block peoplesoft_block %} {% endblock peoplesoft_block %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}



