{% extends 'mantenedor_works/detalles_usuario.html' %}
{% load static %}

{% block error %}
    <!-- Aquí puedes incluir la lógica para mostrar errores o discrepancias -->
{% endblock error %}

{% block hcm_block %}
<div class="hcm">
    <h3>Datos de HCM</h3>
    {% if detalles_hcm %}
        <table class="table">
            <tbody>
                <tr><th>ID Empleado</th><td>{{ detalles_hcm.person_number }}</td></tr>
                <tr><th>Fecha de Nacimiento</th><td>{{ detalles_hcm.date_of_birth }}</td></tr>
                <tr><th>Nombre Completo</th><td>{{ detalles_hcm.display_name }}</td></tr>
                <tr><th>Apellido</th><td>{{ detalles_hcm.last_name }}</td></tr>
                <tr><th>Primer Nombre</th><td>{{ detalles_hcm.first_name }}</td></tr>
                <tr><th>Segundo Nombre</th><td>{{ detalles_hcm.middle_names }}</td></tr>
                <tr><th>País</th><td>{{ detalles_hcm.country }}</td></tr>
                <tr><th>Dirección 1</th><td>{{ detalles_hcm.addressLine1 }}</td></tr>
                <tr><th>Dirección 2</th><td>{{ detalles_hcm.addressLine2 }}</td></tr>
                <tr><th>Ciudad</th><td>{{ detalles_hcm.town_or_city }}</td></tr>
                <tr><th>Tipo de Persona en el Sistema</th><td>{{ detalles_hcm.system_person_type }}</td></tr>
                <tr><th>Fecha de Inicio Efectiva</th><td>{{ detalles_hcm.effective_start_date }}</td></tr>
                <tr><th>Unidad de Negocio</th><td>{{ detalles_hcm.business_unit_name }}</td></tr>
                <tr><th>Código de Centro de Costo</th><td>{{ detalles_hcm.ccu_codigo_centro_costo }}</td></tr>
                <tr><th>Nombre del Departamento</th><td>{{ detalles_hcm.department_name }}</td></tr>
                <tr><th>Código del Puesto</th><td>{{ detalles_hcm.job_code }}</td></tr>
                <tr><th>Horas de Trabajo Estándar</th><td>{{ detalles_hcm.standard_working_hours }}</td></tr>
                <tr><th>Código de Ubicación</th><td>{{ detalles_hcm.locationCode }}</td></tr>
                <tr><th>ID del Supervisor</th><td>{{ detalles_hcm.managerAssignmentNumber }}</td></tr>
                <tr><th>Email</th><td>{{ detalles_hcm.email_address }}</td></tr>
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron datos en HCM para este usuario.</p>
    {% endif %}
</div>
{% endblock hcm_block %}

{% block peoplesoft_block %}
<div class="peoplesoft">
    <h3>Datos de PeopleSoft</h3>
    {% if detalles_peoplesoft %}
        <table class="table">
            <tbody>
                <tr><th>ID Empleado</th><td>{{ detalles_peoplesoft.emplid }}</td></tr>
                <tr><th>Fecha de Nacimiento</th><td>{{ detalles_peoplesoft.birthdate }}</td></tr>
                <tr><th>Nombre Completo</th><td>{{ detalles_peoplesoft.name }}</td></tr>
                <tr><th>Apellido</th><td>{{ detalles_peoplesoft.last_name }}</td></tr>
                <tr><th>Primer Nombre</th><td>{{ detalles_peoplesoft.first_name }}</td></tr>
                <tr><th>Segundo Nombre</th><td>{{ detalles_peoplesoft.middle_name }}</td></tr>
                <tr><th>País</th><td>{{ detalles_peoplesoft.country }}</td></tr>
                <tr><th>Dirección 1</th><td>{{ detalles_peoplesoft.address1 }}</td></tr>
                <tr><th>Dirección 2</th><td>{{ detalles_peoplesoft.address2 }}</td></tr>
                <tr><th>Ciudad</th><td>{{ detalles_peoplesoft.city }}</td></tr>
                <tr><th>Tipo de Persona en el Sistema</th><td>{{ detalles_peoplesoft.per_org }}</td></tr>
                <tr><th>Fecha de Inicio Efectiva</th><td>{{ detalles_peoplesoft.hire_dt }}</td></tr>
                <tr><th>Unidad de Negocio</th><td>{{ detalles_peoplesoft.business_unit }}</td></tr>
                <tr><th>Descripción de Unidad de Negocio</th><td>{{ detalles_peoplesoft.business_unit_descr }}</td></tr>
                <tr><th>Código de Centro de Costo</th><td>{{ detalles_peoplesoft.deptid }}</td></tr>
                <tr><th>Nombre del Departamento</th><td>{{ detalles_peoplesoft.dept_descr }}</td></tr>
                <tr><th>Código del Puesto</th><td>{{ detalles_peoplesoft.jobcode }}</td></tr>
                <tr><th>Horas de Trabajo Estándar</th><td>{{ detalles_peoplesoft.std_hours }}</td></tr>
                <tr><th>Código de Ubicación</th><td>{{ detalles_peoplesoft.location }}</td></tr>
                <tr><th>ID del Supervisor</th><td>{{ detalles_peoplesoft.supervisor_id }}</td></tr>
                <tr><th>Email</th><td>{{ detalles_peoplesoft.email }}</td></tr>
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron datos en PeopleSoft para este usuario.</p>
    {% endif %}
</div>
{% endblock peoplesoft_block %}
