{% extends 'mantenedor_works/detalles_usuario.html' %}
{% load static %}

{% block content_comparador %}
<div class="container">
    <h2>Comparación de Datos de Usuario</h2>  
        {% if mensaje_hcm %}
        <div class="alert alert-warning">{{ mensaje_hcm }}</div>
    {% endif %}
    {% if mensaje_peoplesoft %}
        <div class="alert alert-warning">{{ mensaje_peoplesoft }}</div>
    {% endif %}  
    <table class="table">
        <thead>
            <tr>
                <th>Campo</th>
                <th class="{% if base_datos == 'HCM' %}text-success{% endif %}">HCM</th>
                <th class="{% if base_datos == 'PeopleSoft' %}text-success{% endif %}">PeopleSoft</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ejemplo para el ID del Empleado -->
            <tr>
                <th>ID Empleado:</th>
                <td class="{% if diferencias.person_number %}table-danger{% endif %}">
                    {% if detalles_hcm %}{{ detalles_hcm.person_number }}{% endif %}
                </td>
                <td class="{% if diferencias.person_number %}table-danger{% endif %}">
                    {% if detalles_peoplesoft %}{{ detalles_peoplesoft.emplid }}{% endif %}
                </td>
            </tr>

            <tr>
                <th>Nombre:</th>
                <td class="{% if diferencias.nombre %}table-danger{% endif %}">
                    {% if detalles_hcm %}{{ detalles_hcm.nombre }}{% endif %}
                </td>
                <td class="{% if diferencias.nombre %}table-danger{% endif %}">
                    {% if detalles_peoplesoft %}{{ detalles_peoplesoft.nombre }}{% endif %}
                </td>
            </tr>

            <tr>
                
                <th>Direccion:</th>
                <td class="{% if diferencias.addressLine1 %}table-danger{% endif %}">
                    {% if detalles_hcm %}{{ detalles_hcm.addressLine1 }}{% endif %}
                </td>
                <td class="{% if diferencias.addressLine1 %}table-danger{% endif %}">
                    {% if detalles_peoplesoft %}{{ detalles_peoplesoft.address1 }}{% endif %}
                   </td>
            </tr>
            <!-- Repite para los demás campos -->
            
        </tbody>
    </table>
</div>
{% endblock content_comparador %}
