{% extends 'templates_generales/template_main.html' %}
{% load static %}
{% block content %}

{% block script_limpiar %} <script src="{% static 'js/limpiar.js' %}"></script>{% endblock script_limpiar %}
{% block script_cargar %} <script src="{% static 'js/listener.js' %}"></script>{% endblock script_cargar %}

<div class="container">
  <h1 class="text-center mt-4">Formulario de Búsqueda</h1>
  <form action="buscar_usuarios" method="GET" class="mt-4">
    
    <!-- Selección de base de datos -->
    <div class="row mb-4">
      <div class="col-md-4">
        <label for="base_datos">Consultar sistema: </label>
        <select class="form-control form-control-sm" id="base_datos" name="base_datos" onchange="habilitarCampos()">
            <option value="">-- Seleccione una base de datos --</option>
            <option value="PeopleSoft" {% if formulario_data.base_datos == 'PeopleSoft' %}selected{% endif %}>PeopleSoft</option>
            <option value="HCM" {% if formulario_data.base_datos == 'HCM' %}selected{% endif %}>HCM</option>
        </select>
        <span id="mensaje" class="text-success" style="display: none; opacity: 1; transition: opacity 2s;">Para iniciar el proceso de búsqueda primero debe seleccionar una base de datos</span>

      </div>
    </div>

    <!-- Otros campos de búsqueda -->
    <div class="row">
      <div class="col-md-3">
        <label for="Person_Number">Número de Persona:</label>
        <input type="text" id="Person_Number" name="Person_Number" class="form-control" value="{{ formulario_data.Person_Number|default:'' }}" disabled>
      </div>
      <div class="col-md-3">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" value="{{ formulario_data.nombre|default:'' }}" disabled> 
      </div>
      <div class="col-md-3">
        <label for="BusinessUnitName">Unidad de Negocio:</label>
        <select id="BusinessUnitName" name="BusinessUnitName" class="form-control" disabled>
            <option value="">Seleccione una opción</option>
            {% for unidad in opciones_unidad_negocio %}
                <option value="{{ unidad }}" {% if formulario_data.BusinessUnitName == unidad %}selected{% endif %}>{{ unidad }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-md-3">
        <label for="DepartmentName">Departamento:</label>
        <select id="DepartmentName" name="DepartmentName" class="form-control" disabled>
            <option value="">Seleccione una opción</option>
            {% for departamento in opciones_departamento %}
                <option value="{{ departamento }}" {% if formulario_data.DepartmentName == departamento %}selected{% endif %}>{{ departamento }}</option>
            {% endfor %}
        </select>
      </div>
    </div>

    {% if error_message %}
    <style>
        {% if 'Person_Number' in campos_vacios %} #Person_Number { border-color: red; } {% endif %}
        {% if 'nombre' in campos_vacios %} #nombre { border-color: red; } {% endif %}
        {% if 'BusinessUnitName' in campos_vacios %} #BusinessUnitName { border-color: red; } {% endif %}
        {% if 'DepartmentName' in campos_vacios %} #DepartmentName { border-color: red; } {% endif %}
    </style>
    {% endif %}
  
    <div class="d-flex align-items-center mt-3">
      <button id="buscar" type="submit" class="btn btn-primary">Buscar</button>
      <button id="limpiar" class="btn btn-danger" onclick="event.preventDefault(); limpiarFormulario();">Limpiar</button>

    </div>
  </form>

  {% if error_message %}
  <div class="alert alert-danger mt-3">
    {{ error_message }}
  </div>
  {% endif %}
  <div id="grillaUsuarios">
  {% block grilla_usuarios %}
  {% endblock grilla_usuarios %}
  </div>
</div>

{% block script_sistema %} <script src="{% static 'js/boton_sistema.js' %}"></script>{% endblock script_sistema %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/botones.css' %}">{% endblock css %}
{% block script_habilitar%} <script src="{% static 'js/habilitar.js' %}"></script>{% endblock script_habilitar %}

{% block script_formulario %} <script src="{% static 'js/formulario.js' %}"></script>{% endblock script_formulario %}

{% endblock content %}
