{% extends 'templates_generales/template_main.html' %}
{% load static %}
{% block content %}

{% block script_limpiar %} <script src="{% static 'js/limpiar.js' %}"></script>{% endblock script_limpiar %}
{% block script_cargar %} <script src="{% static 'js/listener.js' %}"></script>{% endblock script_cargar %}

<div class="container">
    <h1 class="text-center mt-4">Formulario de Búsqueda</h1>
    <form action="{% url 'workers:buscar_usuarios_mantenedor_works' %}" method="POST" class="mt-4">
        {% csrf_token %}

        <!-- Dropdown para seleccionar la base de datos -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="base_datos">Base de Datos:</label>
                <select id="base_datos" name="base_datos" class="form-control">
                    <option value="">Seleccionar base de datos</option>
                    <option value="HCM" {% if base_datos == 'HCM' %}selected{% endif %}>HCM</option>
                    <option value="PeopleSoft" {% if base_datos == 'PeopleSoft' %}selected{% endif %}>PeopleSoft</option>
                </select>
            </div>
        </div>

        <!-- Campos de búsqueda -->
        <div class="row">
            <div class="col-md-4">
                <label for="personNumber">Número de Persona:</label>
                <input type="text" id="personNumber" name="personNumber" class="form-control" value="{{ personNumber|default:'' }}">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <label for="firstName">Nombre:</label>
                <input type="text" id="firstName" name="firstName" class="form-control" value="{{ firstName|default:'' }}"> 
            </div>
            <div class="col-md-4">
                <label for="lastName">Apellido:</label>
                <input type="text" id="lastName" name="lastName" class="form-control" value="{{ lastName|default:'' }}"> 
            </div>
        </div>

        {% if error_message %}
        <div class="alert alert-danger mt-3">
            {{ error_message }}
        </div>
        {% endif %}
    
        <div class="d-flex align-items-center mt-3">
            <button id="buscar" type="submit" class="btn btn-primary">Buscar</button>
            <button id="limpiar" class="btn btn-danger" onclick="event.preventDefault(); limpiarFormulario();">Limpiar</button>
        </div>
    </form>
    <div id="grillaUsuarios">
        {% block grilla_usuarios %}
        <!-- Aquí se mostrarán los resultados de la búsqueda -->
        {% endblock grilla_usuarios %}
    </div>
</div>

{% block script_sistema %} <script src="{% static 'js/boton_sistema.js' %}"></script>{% endblock script_sistema %}
{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'css/botones.css' %}">{% endblock css %}
{% block script_habilitar%} <script src="{% static 'js/habilitar.js' %}"></script>{% endblock script_habilitar %}
{% block script_formulario %} <script src="{% static 'js/formulario.js' %}"></script>{% endblock script_formulario %}

{% endblock content %}
